@model Online_Learning_Web.Models.RouteType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RouteType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
