@model Online_Learning_Web.ViewModel.AddQuestionVM

@{
    ViewData["Title"] = "Create";
    var validCourse = ViewBag.courseID == null ? "" : "none";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form id="f" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select style="margin-right: 20px;" class="btn btn-info" name="courseID" onchange="document.getElementById('f').submit()">
                <option value="0">Select a Course</option>
                @foreach (Course c in ViewBag.listCourse)
                {
                    var selectedCourse = ViewBag.courseID == c.Id ? "true" : "false";
                    if (selectedCourse.Equals("true") && ViewBag.courseID != null)
                    {
                        <option asp-for="QuestionID" selected value="@c.Id">@c.Title</option>
                    }
                    else
                    {
                        <option asp-for="QuestionID" value="@c.Id">@c.Title</option>
                    }
                }
            </select>

            <select class="btn btn-info" style="width: 300px;" name="lessonID">
                <option value="0">Select a Lesson</option>
                @if (ViewBag.listLesson != null)
                {

                    @foreach (Lesson l in ViewBag.listLesson)
                    {
                        <option asp-for="LessonID" value="@l.ID">@l.Name</option>
                    }
                }
            </select>


            <br /><br />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label><br />
                <textarea style="width: 748px; height: 100px;" name="content"></textarea>
                <span asp-validation-for="Content" class="text-danger" style="display: @validCourse"></span>
            </div>

            <div class="form-group">
                Answer<br />
                <input asp-for="Answer" class="form-control" />
            </div>
            <div class="form-group">
                <br />
                <input asp-for="Answer" class="form-control" />
            </div>
            <div class="form-group">
                <br />
                <input asp-for="Answer" class="form-control" />
            </div>
            <div class="form-group">
                <br />
                <input asp-for="Answer" class="form-control" />
            </div>
            CorrectAnswer<br />
            <select style="margin-right: 20px;" class="btn btn-info" name="CorrectAnswer">
                <option asp-for="CorrectAnswer" value="-1">Select a CorrectAnswer</option>
                <option asp-for="CorrectAnswer" value="0">1</option>
                <option asp-for="CorrectAnswer" value="1">2</option>
                <option asp-for="CorrectAnswer" value="2">3</option>
                <option asp-for="CorrectAnswer" value="3">4</option>
            </select><br />

            <div class="form-group">
                <label asp-for="Explain" class="control-label"></label>
                <input asp-for="Explain" class="form-control" />
                <span asp-validation-for="Explain" class="text-danger" style="display: @validCourse"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @{
                ViewBag.courseID = null;
            }

        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
