
<style>
    .badge:hover {
        opacity: 0.8;
    }

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="row">

    @foreach (Lesson le in ViewBag.Lessons)
    {
        if (le.ID == ViewBag.lessonId)
        {
            <h1 class="h1">@le.Name</h1>
            <iframe class="col-md-8" width="420" height="385" src="@le.Link?autoplay=1&mute=1">
            </iframe>
        }
    }
    <ol class="list-group col-md-4" style="width:30%">
        @foreach (Chapter c in ViewBag.Chapters)
        {

            <li class="list-group-item justify-content-between align-items-center">
                @c.Name <span style="cursor:pointer" class="badge badge-primary badge-pill" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </span>
                <ol class="list-group dropdown-menu">
                    @foreach (Lesson l in ViewBag.Lessons)
                    {
                        @if (c.ID == l.ChapterID)
                        {

                            <li class="list-group-item dropdown-item">
                                <a asp-route-ID="@c.CourseID" asp-route-lessonId="@l.ID">@l.Name</a>
                            </li>
                        }
                    }
                </ol>
            </li>
        }
    </ol>
</div>
