@model IEnumerable<Online_Learning_Web.Models.RouteTypeItem>
<style>
    .table1, th, td {
        border: 1px solid #dee2e6;
        vertical-align: top;
        text-align: left;
        padding: 8px;
        border-collapse: collapse;
    }

    .mb-0 tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .mb-0 tr:hover {
        background-color: #ddd;
    }

    thead tr th {
        text-align: center;
    }
</style>
<h1 class="text-center">DANH SÁCH MỤC LỤC LỘ TRÌNH HỌC</h1>

<div class="table-responsive shadow rounded m-5">

    <table id="table" class="  table table-center bg-white mb-0">
        <a asp-action="Create" class="btn btn-success"><i class="ri ri-add-circle-line"></i>Add</a>
        <thead>
            <tr style="background-color:#396cf0; color: #ffffff">
                <th class="border-bottom p-3" style="min-width: 50px;">ID</th>
                <th class="border-bottom p-3" style="min-width: 120px;">Tên lộ Trình</th>
                <th class="border-bottom p-3" style="min-width: 120px;">Tên mục lục</th>
                <th class="border-bottom p-3" style="min-width: ;">Giới thiệu về mục lục</th>
                <th class="border-bottom p-3" style="min-width: 120px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="p-3">@Html.DisplayFor(modelItem => item.ID)</td>
                    <td class="p-3">@Html.DisplayFor(modelItem => item.RouteType.Name)</td>
                    <td class="p-3">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="p-3">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary"><i class="uil uil-eye"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success"><i class="uil uil-pen"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="uil uil-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>